#button1{
	width:24px;
	height:24px;
	position:relative;
	top:300px;
	left:500px;
	border:7px outset #264B87;
	cursor:pointer;
	text-align:center;
	box-shadow: inset 20px 15px 15px white;
	font-size:7px;
	border-radius:0px;
}
#button2{
	width:24px;
	height:24px;
	position:relative;
	top:262px;
	left:539px;
	border:7px outset #264B87;
	cursor:pointer;
	text-align:center;
	box-shadow: inset 20px 15px 15px white;
	font-size:7px;
	border-radius:0px;	
}
#button3{
	width:24px;
	height:24px;
	position:relative;
	top:263px;
	left:500px;
	border:7px outset #264B87;
	cursor:pointer;
	text-align:center;
	box-shadow: inset 20px 15px 15px white;
	font-size:7px;
	border-radius:0px;	
}
#button4{
	width:24px;
	height:24px;
	position:relative;
	top:225px;
	left:539px;
	border:7px outset #264B87;
	cursor:pointer;
	text-align:center;
	box-shadow: inset 20px 15px 15px white;
	font-size:7px;
	border-radius:0px;	
}
